<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/GK.svg" />
		<!-- <link rel="preload" href="/fonts/Oswald-Regular.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/fonts/Bayon-Regular.woff2" as="font" type="font/woff2" crossorigin /> -->
		<link rel="stylesheet" href="/src/styles/fonts.css" />

		<meta name="generator" content={Astro.generator} />
		<title>my_portfolio</title>
		
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		overscroll-behavior: none;
		font-family: "Oswald";
		
	}
</style>

